<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>

<body>
    <h1>Welcome to text anaylzer.Enter your text below</h1>
    <form action="analyze" method="get">
        <textarea name="text" id="text" cols="100" rows="10"></textarea><br>
        <input type="checkbox" name="removepunc" id="removepunc">Remove punctuation <br>
        <input type="checkbox" name="uppercase" id="uppercase">Upper case<br>
        <input type="checkbox" name="newlineremove" id="newlineremove">New line remove <br>
        <input type="checkbox" name="spaceremove" id="spaceremove">Space remove <br>
        <input type="checkbox" name="charcnt" id="charcnt">Character count<br>
        <input type="submit" value="submit">
    </form>
</body>

</html>